@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main-container {
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
ul {
    list-style-type: none;
    padding: 0;
}
* {
    outline: none;
    box-sizing: border-box;
}

.wiki-search-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2em;
}

.wiki-logo {
    margin-block: 1em;
    width: min(40%, 13rem);
}

.search-input {
    border: 1px solid #d5cdcd;
    border-radius: 30px;
    padding: 0.64em;
    width: min(94%, 50rem);
    text-overflow: ellipsis;
}
.search-navbar {
    padding: 1em 0em 0em;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-options-nav-bar {
    margin-block: 1em;
    display: flex;
    gap: 0.6em;
    width: min(94%, 50rem);
    padding-left: 0.6em;
}
.search-option {
    border: 1px solid rgb(205, 205, 205);
    padding: 0.3em 0.8em;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}
.selected-search-option {
    background-color: rgb(243, 241, 241);
}
.search-option:hover {
    background-color: rgb(243, 241, 241);
    transform: scale(1.1);
}
.search-result-container {
    padding: clamp(1em, 1vw + 0.9em, 3em);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-item {
    margin-bottom: 20px;
    width: 89%;
}

.result-title {
    font-size: 22px;
}

.link-description {
    color: #444444;
    font-size: 15px;
}

.result-url {
    color: #006621;
    text-decoration: none;
}

/* image search  classes */

.grid {
    width: 100%;
    /* display: grid; */
    gap: 0.7em;
    display: column;
    columns: 1;
}
.grid > * {
    break-inside: avoid;
}
.grid-item {
    width: min(100%, 20rem);
    border: 1px solid #bfbfbfbf;
    border-radius: 10px;
    margin-block: 1em;
    overflow: hidden;
}
@media (min-width: 615px) {
    .grid {
        columns: 2;
    }
}
@media (min-width: 877px) {
    .grid {
        columns: 5;
    }
}
